html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
    
}

header{
    padding: 20px;
}

nav{
    display: inline-block;
}

main{
    padding: 20px;
}

nav > ul{
    list-style: none;
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    text-decoration: none;
    color: green;
}